*{
    font-family: Inter;
}

button{
    transition: 1s; box-shadow: 0px 1.5vw 1.7vw -.5vw #f0eaeaf0; border-radius: 1.5vw; font-size: 1vw; font-weight: 3vw; gap: .5vw; border-color: white; border-width: .2vw;
}
.cuadroTexto::placeholder{
    color: rgba(0, 0, 0, .7);
}
.boton_encriptar{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.boton_desencriptar{
    background: none;
}
.boton_encriptar:hover{
    
    scale: .9;
    background: gainsboro;
    transition: 1s;

}
.boton_desencriptar:hover{
    scale: .9;
    color: gainsboro;
    background: #352506;
    transition: 1s;
}

.boton_copiar:hover{
    scale: .9;
    background: darkgoldenrod;
    transition: 1s;
}
.boton_encriptar:not(:hover), .boton_desencriptar:not(:hover), .boton_copiar:not(:hover){
    transition: 1s;
}
.cuadroTexto2, .cuadroTexto2_tablet, .cuadroTexto2_celular{
    transition: 1s;
    box-shadow: 0px 1.5vw 1.7vw -.5vw #f0eaeaf0; padding: 1.7vw; border-radius: 1.7vw; gap: 1.7vw;
}
#githublink:hover, #linkedinlink:hover{
    transition: 1s;
    scale: 1.2;
}
#githublink:not(:hover), #linkedinlink:not(:hover){
    transition: 1s;
    scale: 1;
}

@media screen and (min-width: 1401px) {
    .logos{
        width: 8.5%;
        height: 4.5%;  
        top: 3.5%;
        left: 3.5%;
    }
    .cuadroTexto{
        font-size: 2.5vw;
        width: 47.5%;
        height: 64.5%;
        top: 16.5%;
        left: 16.5%;
    }
    .cuadroTexto::placeholder{
        font-size: 2.5vw;
    }
    .instrucciones{
        font-size: 1vw;
        width: 21%;
        height: 1.75%;
        top: 83%;
        left: 16.5%;
    }
    #exclamacion{
        height: 100%;
    }
    .botones_encriptar_desencriptar{
        display: flex;
        width: 47.5%;
        height: 6.5%;
        top: 86.5%;
        left: 16.5%;
        gap: 1.5vw;
    }
    .boton_encriptar, .boton_desencriptar{
        width: 47.77%;
        height: 100%;
    }

    .cuadroTexto2{
        width: 23.33%; height: 87.18%;
        top: 3.5%; left: 71.66%;
        background-image: url("imagenes/Muñeco.png"); background-size: 22vw; background-repeat: no-repeat; background-position: center 30%;
        }
    .cuadroTexto2_tablet{
        display: none;
    }
    .cuadroTexto2_celular{
        display: none;
    }
    #texto_encriptado{
        font-size: 2vw;
    }
    #texto_bajoimagen{
        width: 90%;
        height: 14%;
        top: 57%;
        left: 5%;
        gap: 1vw;
    }
    #cuadroTexto3{
        line-height: 2vw;
        font-size: 2vw;
    }
    #cuadroTexto4{
        font-size: 1vw;
        line-height: 1.5vw;
    }
    .boton_copiar{
        position: absolute;
        width: 84%;
        height: 7.1%;
        bottom: 2.2vw;
        left: 2.2vw;
        padding: 1.5vw;
        gap: .5vw;
        background: none;
    }
    #pie{
        transition: 1s;
        position: relative;
        width: 100%; height: 6%;
        bottom: -5vw;
    }
    #github_logo, #linkedin_logo{
        
        display: inline-block;
        width: 3vw;
    }
    #githublink, #linkedinlink{  
        font-size: 1.5vw;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
        color: rgba(0, 0, 0, .7 );
    }
    
    svg{
        width: 100%;
        height: 100%;
    }
    #nombre, #version{
        vertical-align: top;
        font-size: 1.5vw;
        font-weight: 700;
        height: 1.5vw;
    }
    #version{
        display: block;
        
    }
    /*aspect-ratio 4/3*/
    @media screen and (max-aspect-ratio: 2/3){
        .logos{
            transition: 1s;
            width: 4.04%;
            height: 4.30%;
            top: 6.25%;
            left: 5.20%; 
        }
        .cuadroTexto{
            transition: 1s;
            font-family: Inter;
            line-height: 4vw;
            font-size: 5vw;
            width: 89.58%;
            height: 48.55%;
            top: 20.44%;
            left: 5.20%;
        }
        .instrucciones{
            transition: 1s;
            width: 38%;
            height: 1.53%;
            top: 71.20%;
            left: 5.20%;
            gap: .5vw;
    
        }
        .botones_encriptar_desencriptar{
            transition: 1s;
            display: flex;
            width: 89.58%;
            height: 5.70%;
            top: 74.10%;
            left: 5.20%;
            gap: 1.5vw;
    
        }
        .boton_encriptar, .boton_desencriptar{
            width: 48.25%;
            height: 100%;
            padding: 1.5vw;
            border-radius: 2.5vw;
            gap: .5vw;
            font-size: 2vw;
    
        }
        
        .boton_desencriptar{
        background: none;
        }
        .cuadroTexto2{
            display: none;
        }
        .cuadroTexto2_tablet{
            display: flex;
            transition: 1s;
            font-size: 3vw;
            position: absolute;
            width: 83.58%;
            height: 7.32%;
            top: 85.26%;
            left: 5.20%;
        }
        .cuadroTexto2_celular{
            display: none;
        }
        #texto_bajoimagen_tablet{
            transition: 1s;
            left: 16vw; top: 2vw;
            width: 65.69%;
            height: 51.87%;
        }
        #cuadroTexto3{
            font-size: 3vw;
            width: 90.69%;
            height: 21.80%;
        }
        #cuadroTexto4{
            font-size: 2vw;
            width: 90.69%;
            height: 18.04%;
        }
        #texto_encriptado{
            display: none;
        }
        .boton_copiar{
            position: absolute;
            background: none;
            font-size: 2vw;
            width: 90.69%;
            height: 64px;
            padding: 1.5vw;
            border-radius: 1.5vw;
            gap: .5vw;
            bottom: 1.7vw;
            left: 1.7vw;
    
        }
        #pie{
            transition: 1s;
            position: relative;
            width: 100%; height: 30%;
            bottom: -17vw;
        }
        #github_logo, #linkedin_logo{
            
            display: inline-block;
            width: 3vw;
        }
        #githublink, #linkedinlink{  
            font-size: 1.5vw;
            font-weight: 700;
            text-decoration: none;
            display: inline-block;
            color: rgba(0, 0, 0, .7 );
        }
        
        svg{
            width: 100%;
            height: 100%;
        }
        #nombre, #version{
            vertical-align: top;
            font-size: 1.5vw;
            font-weight: 700;
            height: 1.5vw;
        }
        #version{
            display: block;
            
        }
        
    } 
}
@media screen and (min-width: 481px) and (max-width: 1400px){
    
    .logos{
        transition: 1s;
        width: 4.04%;
        height: 4.30%;
        top: 6.25%;
        left: 5.20%; 
    }
    .cuadroTexto{
        transition: 1s;
        font-family: Inter;
        line-height: 4vw;
        font-size: 5vw;
        width: 89.58%;
        height: 48.55%;
        top: 20.44%;
        left: 5.20%;
    }
    .instrucciones{
        transition: 1s;
        width: 38%;
        height: 1.53%;
        top: 71.20%;
        left: 5.20%;
        gap: .5vw;

    }
    .botones_encriptar_desencriptar{
        transition: 1s;
        display: flex;
        width: 89.58%;
        height: 5.70%;
        top: 74.10%;
        left: 5.20%;
        gap: 1.5vw;

    }
    .boton_encriptar, .boton_desencriptar{
        width: 48.25%;
        height: 100%;
        padding: 1.5vw;
        border-radius: 2.5vw;
        gap: .5vw;
        font-size: 2vw;

    }
    
    .boton_desencriptar{
    background: none;
    }
    .cuadroTexto2{
        display: none;
    }
    .cuadroTexto2_tablet{
        transition: 1s;
        font-size: 3vw;
        position: absolute;
        width: 83.58%;
        height: 7.32%;
        top: 85.26%;
        left: 5.20%;
    }
    .cuadroTexto2_celular{
        display: none;
    }
    #texto_bajoimagen_tablet{
        transition: 1s;
        left: 16vw; top: 2vw;
        width: 65.69%;
        height: 51.87%;
    }
    #cuadroTexto3{
        font-size: 3vw;
        width: 90.69%;
        height: 21.80%;
    }
    #cuadroTexto4{
        font-size: 2vw;
        width: 90.69%;
        height: 18.04%;
    }
    #texto_encriptado{
        display: none;
    }
    .boton_copiar{
        position: absolute;
        background: none;
        font-size: 2vw;
        width: 90.69%;
        height: 64px;
        padding: 1.5vw;
        border-radius: 1.5vw;
        gap: .5vw;
        bottom: 1.7vw;
        left: 1.7vw;

    }
    #pie{
        transition: 1s;
        position: relative;
        width: 100%; height: 30%;
        bottom: -17vw;
    }
    #github_logo, #linkedin_logo{
        
        display: inline-block;
        width: 3vw;
    }
    #githublink, #linkedinlink{  
        font-size: 1.5vw;
        font-weight: 700;
        text-decoration: none;
        display: inline-block;
        color: rgba(0, 0, 0, .7 );
    }
    
    svg{
        width: 100%;
        height: 100%;
    }
    #nombre, #version{
        vertical-align: top;
        font-size: 1.5vw;
        font-weight: 700;
        height: 1.5vw;
    }
    #version{
        display: block;
        
    }
/*aspect-ratio 4/3*/
    @media screen and (min-aspect-ratio: 4/3) {
        main {
            position: relative;
            min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
        }
        button{
            font-size: 1vw;
        }
        .logos{
            width: 8.33%;
            height: 4.68%;
            top: 3.90%;
            left: 3.90%;
            gap: 3.90%;
        }
        
        .logotipo{
            height: 100%;
        }
        .cuadroTexto{
            font-size: 2.5vw;
            width: 47.22%;
            height: 64.45%;
            top: 16.40%;
            left: 16.66%;
        }
        .cuadroTexto::placeholder{
            font-size: 2.5vw;
        }
        .instrucciones{
            font-size: 1vw;
            width: 26%;
            height: 1.75%;
            top: 83.10%;
            left: 16.66%;
            gap: .5vw;
        }
        .botones_encriptar_desencriptar{
            display: flex;
            width: 47.22%;
            height: 8.5%;
            top: 91.5%;
            left: 16.66%;
            gap: 1.5vw;
    
        }
        .boton_encriptar, .boton_desencriptar{
            display: block;
            text-align:center;
            width: 47.77%;
            height: 100%;
            font-size: 1.3vw;
        }
        .cuadroTexto2{
            display: flex;
            position: absolute;
            width: 23.33%;
            height: 91.93%;
            top: 3.90%;
            left: 71.66%;   
            background-image: url("imagenes/Muñeco.png");
            background-size: 22vw;
            background-repeat: no-repeat;
            padding: 2%;
            background-position: center 30%;
        }
        .cuadroTexto2_tablet{
            display: none;
        }
        .cuadroTexto2_celular{
            display: none;
        }
        #texto_encriptado{
            display: flex;
            position: absolute;
            width: 85;
            height: 55%;
            font-size: 1.4vw;
            line-height: 2vw;
    
        }
        #texto_encriptado_movil{
            display: none;
        }
        #texto_bajoimagen{
            width: 90%;
            height: 16%;
            top: 59.41%;
            left: 4.5%;
            gap: 1vw;
        }
        #cuadroTexto3{
            width: 100%;
            height: 45%;
            font-size: 2vw;
        }
        #cuadroTexto4{
            width: 100%;
            height: 30%;
            font-size: 1vw;
        }
        #texto_encriptado{
            word-break: break-all;
        }
        .boton_copiar{
            background: none;
            width: 90%;
            height: 7.61%;
            bottom: 1.7vw;
            left: 1.7w;
            padding: 1.5vw;
            gap: .5vw;
            font-size: 1vw;
        }
        #pie{
            transition: 1s;
            position: relative;
            width: 100%; height: 6%;
            bottom: -5vw;
        }
        #github_logo, #linkedin_logo{
            
            display: inline-block;
            width: 3vw;
        }
        #githublink, #linkedinlink{  
            font-size: 1.5vw;
            font-weight: 700;
            text-decoration: none;
            display: inline-block;
            color: rgba(0, 0, 0, .7 );
        }
        
        svg{
            width: 100%;
            height: 100%;
        }
        #nombre, #version{
            vertical-align: top;
            font-size: 1.5vw;
            font-weight: 700;
            height: 1.5vw;
        }
        #version{
            display: block;
            
        }
    }
}
@media screen and (max-width: 480px){
    main {
        position: relative;
        min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
    }
        .logos{
            transition: 1s;
            width: 20%;
            height: 5.14%;
            top: 2vw;
            left: 1.5vw;
            }
        .logotipo{
            height: 100%;
        }
        .cuadroTexto{
            transition: 1s;
            width: 91.46%;
            line-height: 7vw;
            height: 30.86%;
            top: 16.29%;
            left: 4.26%;
            font-size: 6vw;
    
        }
        .instrucciones{
            transition: 1s;
            width: 74%;
            height: 2.3%;
            top: 48.33%;
            left: 4.26%;
            gap: .7vw;
            font-size: auto;
            
        }
    
        .botones_encriptar_desencriptar{
            transition: 1s;
            display: grid;
            width: 91.46%;
            height: 16.93%;
            top: 51.98%;
            left: 4.26%;
            gap: .5vw;
    
        }
        .boton_encriptar, .boton_desencriptar{
            width: 100%;
            font-size: 5vw;
            height: 90%;
            border-radius: 7vw;
    
        }
        .boton_desencriptar{
            background: none;
            display: grid;
        }
        .cuadroTexto2{
            display: none;
        }
        .cuadroTexto2_tablet{
            display: none;
        }
        .cuadroTexto2_celular{
            transition: 1s;
            position: absolute;
            display: flex;
            width: 86.13%;
            height: 20%;
            top: 72.34%;
            left: 4.5vw;
            box-shadow: 0px 1.5vw 1.7vw -.5vw #f0eaeaf0;
        }
        #texto_encriptado{
            display: none;
        }
        #texto_bajoimagen_celular{
            top: 10vw;

        }
        #cuadroTexto3{
            font-family: Inter;
            font-size: 7vw;
            font-weight: 700;
            line-height: 6vw;
            letter-spacing: 0em;
            text-align: center;
        }
        #cuadroTexto4{
            font-family: Inter;
            font-size: 4vw;
            font-weight: 400;
            line-height: 6vw;
            letter-spacing: 0em;
            text-align: center;
        }
        .boton_copiar{
            position: absolute;
            width: 98.34%;
            height: 9%;
            bottom: 4vw;
            left: 2vw;
            border-radius: 6vw;
            border-color: white;
            padding: 0 0 0 0;
            gap: 1vw;
            font-size: 6vw;
            background: none;
    
        }
        #pie{
            transition: 1s;
            position: relative;
            width: 100%; height: 30%;
            bottom: -17vw;
        }
        #github_logo, #linkedin_logo{
            
            display: inline-block;
            width: 3vw;
        }
        #githublink, #linkedinlink{  
            font-size: 1.5vw;
            font-weight: 700;
            text-decoration: none;
            display: inline-block;
            color: rgba(0, 0, 0, .7 );
        }
        
        svg{
            width: 100%;
            height: 100%;
        }
        #nombre, #version{
            vertical-align: top;
            font-size: 1.5vw;
            font-weight: 700;
            height: 1.5vw;
        }
        #version{
            display: block;
            
        }
        /*aspect-ratio 4/3*/
    @media screen and (min-aspect-ratio: 4/3) {
        main {
            position: relative;
            min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
        }
        button{
            font-size: 1vw;
        }
        .logos{
            display: flex;
            width: 8.33%;
            height: 4.68%;
            top: 3.90%;
            left: 3.90%;
            gap: 3.90%;
        }
        
        .logotipo{
            height: 100%;
        }
        .cuadroTexto{
            font-size: 2.5vw;
            width: 47.22%;
            height: 64.45%;
            top: 16.40%;
            left: 16.66%;
        }
        .cuadroTexto::placeholder{
            font-size: 2.5vw;
        }
        .instrucciones{
            font-size: 1vw;
            width: 26%;
            height: 1.75%;
            top: 83.10%;
            left: 16.66%;
            gap: .5vw;
        }
        .botones_encriptar_desencriptar{
            display: flex;
            width: 47.22%;
            height: 8.5%;
            top: 91.5%;
            left: 16.66%;
            gap: 1.5vw;
    
        }
        .boton_encriptar, .boton_desencriptar{
            display: block;
            text-align:center;
            width: 47.77%;
            height: 100%;
            font-size: 1.3vw;
        }
        .cuadroTexto2{
            display: flex;
            position: absolute;
            width: 23.33%;
            height: 91.93%;
            top: 3.90%;
            left: 71.66%;   
            background-image: url("imagenes/Muñeco.png");
            background-size: 22vw;
            background-repeat: no-repeat;
            background-position: center 30%;
        }
        .cuadroTexto2_tablet{
            display: none;
        }
        .cuadroTexto2_celular{
            display: none;
        }
        #texto_encriptado{
            display: flex;
            position: absolute;
            left: 3%;
            width: 77.33%;
            height: 54.23%;
            top: 7.03%;
            left: 13.66%;
            font-size: 1.4vw;
            line-height: 2vw;
    
        }
        #texto_encriptado_movil{
            display: none;
        }
        #texto_bajoimagen{
            width: 90%;
            height: 11.91%;
            top: 59.41%;
            left: 7%;
            gap: 1vw;
        }
        #cuadroTexto3{
            font-size: 2vw;
        }
        #cuadroTexto4{
            font-size: 1vw;
        }
        #texto_encriptado{
            word-break: break-all;
        }
        .boton_copiar{
            background: none;
            width: 84%;
            height: 7.61%;
            bottom: 1.7vw;
            left: 1.7w;
            padding: 1.5vw;
            gap: .5vw;
            font-size: 1vw;
        }
        #pie{
            transition: 1s;
            position: relative;
            width: 100%; height: 30%;
            bottom: -17vw;
        }
        #github_logo, #linkedin_logo{
            
            display: inline-block;
            width: 3vw;
        }
        #githublink, #linkedinlink{  
            font-size: 1.5vw;
            font-weight: 700;
            text-decoration: none;
            display: inline-block;
            color: rgba(0, 0, 0, .7 );
        }
        
        svg{
            width: 100%;
            height: 100%;
        }
        #nombre, #version{
            vertical-align: top;
            font-size: 1.5vw;
            font-weight: 700;
            height: 1.5vw;
        }
        #version{
            display: block;
            
        }

    
    }
}
